.download-btn:hover {
	color: white !important;
}

p {
	font-size: 1.2rem;
}

.section-1 {
	margin-top: 20rem;
}

.springboard-section {
	margin-bottom: 10rem;
}

section {
	margin-top: 50rem;
	margin-bottom: 25rem;
}
